body {
  background-color: #010e2c;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
